#pong_game{
    margin-left:25%;
    margin-right:25%;
}

.play_area{
    position:relative;

    background:black;
    width:800px;
    height:600px;
}

.player1{
    background-color:white;
    height:100px;
    width:25px;
    left:5px;
    top:230px;

    position:absolute;
}

.player2{
    background-color:white;
    height:100px;
    width:25px;
    left:770px;
    top:230px;

    position:absolute;
}


.ball{
    background-color:white;
    height:25px;
    width:25px;

    position:absolute;

    left:50%;
    top:46%;
}

.score_p1{
    position:absolute;

    color:white;

    top:25px;
    left: 100px;

}

.score_p2{
    position:absolute;

    color:white;

    top:25px;
    right: 100px;
}

.divider{

    top:2%;

    border-color:white;
    border-style:dotted;
    border-width:4px;
    position:absolute;
    width:0px;
    height:95%;
    margin-left:51%;


