#pong_game{
    margin-left:25%;
    margin-right:25%;
}

.play_area{
    position:relative;

    background:black;
    width:800px;
    height:600px;
}

.player1{
    background-color:white;
    height:100px;
    width:25px;
    left:5px;
    top:230px;

    position:absolute;
}

.player2{
    background-color:white;
    height:100px;
    width:25px;
    left:770px;
    top:230px;

    position:absolute;
}


.ball{
    background-color:white;
    height:25px;
    width:25px;

    position:absolute;

    left:47%;
    top:45%;
}

.divider{

    top:2%;

    background-color:white;
    border-style:solid;
    position:absolute;
    width:5px;
    height:95%;

    margin-left:50%;


