{% load staticfiles %}
<link rel="stylesheet" href="{% static user_css %}" type="text/css" />
<script type="text/javascript" src="{% static jquery %} "></script>
<script type="text/javascript" src="{% static pong %} "></script>
<title> {{ title }}</title>

{% for message in messages %}
{{message}}
{% endfor %}



<h1>Are you ready to Pong? </h1>
<div id=msg_bar>Watch this space for game messages! </div>

<p>Add your initials to get a spot on the <a href="{% url 'mp_pong:leaderboards' %}">leaderboards</a>, if you haven't already!</p>
<form action="/play/add_player/" method="post">{% csrf_token %}
{{ player_form.as_p }}
<input type="submit" value="Submit" />
</form>

<div id='pong_game' tabindex='0'>
    <div class='play_area'>
        <div class='score_p1'>--</div>
        <div class='score_p2'> -- </div>
        <div class='divider'></div>
        <div class='player1'></div>
        <div class='player2'></div>
        <div class='ball'></div>
    </div>
</div>

<form action="/play/" method="post">{% csrf_token %}
{{ match_form.as_ul }}
<input type="submit" value="Submit" />
</form>
