<!--{% for match in matches %}-->
<!--{{ match}}-->
<!--{% endfor %}-->

<!-- {% for k, v in p_t_m.items %} -->
<!-- {{k}}<br> -->
<!-- {% for match in v %} -->
<!-- {{ match }}<br> -->
<!-- {% endfor %} -->
<!-- {% endfor %} -->
<title> {{ title }}</title>

<h2>Matches played</h2>

{% for k, v in sorted_by_p.items %}
{{k}} : {{v}}<br>
{% endfor %}

<h2>Matches won</h2>

{% for k, v in sorted_by_wins.items %}
{{k}} : {{v}}<br>
{% endfor %}

<h2>Last 20 matches</h2>

{% for match in last20_matches %}
{{ match }}<br>
{% endfor %}
